<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--     <type name="Magento\CatalogRule\Model\Rule\Condition\Product">
        <plugin name="cp_catalogmaxdiscount_condition_plugin" type="Cp\CustomRule\Plugin\Model\Rule\Condition" sortOrder="10"/>
    </type> -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                
                <item name="notice_page_listing_data_source" xsi:type="string">Cp\Notice\Model\ResourceModel\Notification\Grid\Collection</item>
                <item name="notice_form_data_source" xsi:type="string">Cp\Notice\Model\ResourceModel\Notification\Grid\Collection</item>
                <item name="checkbox_page_listing_data_source" xsi:type="string">Cp\Notice\Model\ResourceModel\Notice\Grid\Collection</item>

               

                
            </argument>
            
        </arguments>
    </type>
    <virtualType name="Cp\Notice\Model\ResourceModel\Notification\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cp_notification</argument>
            <argument name="resourceModel" xsi:type="string">Cp\Notice\Model\ResourceModel\Notification</argument>
        </arguments>
    </virtualType>
     <virtualType name="Cp\Notice\Model\ResourceModel\Notice\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cp_notice</argument>
            <argument name="resourceModel" xsi:type="string">Cp\Notice\Model\ResourceModel\Notice</argument>
        </arguments>
    </virtualType>
</config>
