<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
                <group id="shipping" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Shipping</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" canRestore="1">
                         <label>Enabled for Checkout</label>
                         <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                     <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                         <label>Title</label>
                    </field>

                    <field id="name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" canRestore="1">
                         <label>Name</label>
                         <!-- <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model> -->
                    </field>
                       <field id="price" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                         <label>Price</label>
                    </field>
                    <field id="residential" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                         <label>Residential</label>
                    </field>
                    <field id="liftgate" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                         <label>LiftGate</label>
                    </field>
                    <field id="delivery" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                         <label>Delivery Appointment</label>
                    </field>
             </group>

             <group id="pickup" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Pickup</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" canRestore="1">
                         <label>Enabled for Checkout</label>
                         <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                     <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                         <label>Title</label>
                    </field>

                    <field id="name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" canRestore="1">
                         <label>Name</label>
                         <!-- <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model> -->
                    </field>
                       <field id="price" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                         <label>Price</label>
                    </field>
             </group>

             <group id="dealer" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Dealer Arrange shipping</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" canRestore="1">
                         <label>Enabled for Checkout</label>
                         <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                     <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                         <label>Title</label>
                    </field>

                    <field id="name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" canRestore="1">
                         <label>Name</label>
                         <!-- <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model> -->
                    </field>
                       <field id="price" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                         <label>Price</label>
                    </field>
             </group>
        </section>

       
    </system>
</config>