<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <newship>
                <active>0</active>
                <model>Cp\Company\Model\Shipping</model>
               <title>New Method</title>
               <name>Shipping</name>
               <price>20</price>
            </newship>
        </carriers>
    </default>
</config>